.add_button{
    -fx-background-color: #ABEBC6;
    -fx-border-color: #1D8348;
    -fx-border-radius: 5px;
}

.add_button:hover{
    -fx-background-color: #2ECC71;
    -fx-border-color: #1D8348;
    -fx-border-radius: 5px;
}

.add_button:pressed{
    -fx-translate-y: 2px;
}

.delete_button
{
    -fx-background-color: #F08080;
    -fx-border-color: #8B0000;
    -fx-border-radius: 5px;
}

.delete_button:hover
{
    -fx-background-color: #B22222;
    -fx-border-color: #8B0000;
    -fx-border-radius: 5px;
}

.delete_button:pressed{
    -fx-translate-y: 2px;
}

.modify_button{
    -fx-background-color: #F7DC6F;
    -fx-border-color: #B7950B;
    -fx-border-radius: 5px;
}

.modify_button:hover{
    -fx-background-color: #F1C40F;
    -fx-border-color: #B7950B;
    -fx-border-radius: 5px;
}

.modify_button:pressed{
    -fx-translate-y: 2px;
}
